<section ng-controller="RepositorySearchCtrl as repositorySearchCtrl">
    <header>
        <h2>Explore the repositories!</h2>
    </header>

    <form>
        <input required type="text" ng-model="repositorySearchCtrl.searchInput"><button ng-click="repositorySearchCtrl.updateRepositoryList(repositorySearchCtrl.searchInput)">Search</button>
    </form>

    <div ng-show="repositorySearchCtrl.repositoryList.length">
        <h2>{{ repositorySearchCtrl.repositoryList.length }} Result(s) for the repository search with keyword: "{{ repositorySearchCtrl.searchInput }}"</h2>

        <repository ng-repeat="repository in repositorySearchCtrl.repositoryList" repository="repository" on-view-issues-click="mainCtrl.setSelectedRepository(repository)"></repository>
    </div>
</section>